=============== 
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

============
Others
============

Assets/Sprites/Backgrounds/
Assets/Sprites/Backgrounds.meta

Assets/Standard Assets (Mobile)/
Assets/Standard Assets (Mobile).meta

Assets/IGSoft_Tools/
Assets/IGSoft_Tools.meta
Assets/IGSoft_Resources/
Assets/IGSoft_Resources.meta